[alias]
	lg = log --oneline --decorate --graph
	co = checkout
	cob = checkout -b
	comp = "!f() { git rev-list --left-right --count $branch...$2; }; f"
	s = status
	b = branch
    col = "!f() { git branch; }; f"
    unstage = reset HEAD --
	g = rev-list --left-right --count HEAD...origin/HEAD
#	cb = "!f() { git branch | grep \* | cut -d ' ' -f2; }; f"
[user]
	name = Michael Humphries
	email = michaelhumphries1997@gmail.com
